# ignora cache y la carpeta migraciones
__pycache__/
migrations/
staticfiles/
media/
# ignora entornos virtuales
env/

# ignora el archivo .env
.env

# ignora el archivo de pruebas basicas
prueba.py
prueba.js

# Ignora archivo para la configuración de la extensión code spell checker
cspell.json
