django
mysqlclient
django-widget-tweaks
python-dotenv
requests

# para la conexion a la base de datos mediante url
dj-database-url==2.1.0

# para el cargue de los archivos estaticos de railway
whitenoise

# servidor WSGI para aplicaciones de python (levantamiento de produccion)
gunicorn

# Libreira para las imagenes de productos
Pillow

# Libreria para ejecutar tareas en segundom plano
celery
redis