django
mysqlclient
django-widget-tweaks
python-dotenv
requests
django-allauth
# para manejar JWT de google
PyJWT

# para operaciones criptograficas de seguridad
cryptography

# para el flujo de OAuth2
requests-oauthlib

# para la mejora del rendimiento de cryptography
cffi

dj-database-url==2.1.0