{% extends "body.html" %}

{% block formulario %}
<form method="post" id = "formulario-persona">
    {% csrf_token %}
    <div class="form-section">
        <div class="form-grid">
            <div class="form-group">
                {{formulario.as_p}}
            </div>
        </div>
        <button id="boton" class="btn btn-success" type="submit">Aceptar</button>
    </div>
</form>
<table id="productsTable" class="display">
    <thead>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th>opciones</th>
    </thead>
    <tbody id="filas">
        {% for i in object_list %}
            <tr id = "{{i.id}}">
                <td>{{i.id}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.edad}}</td>
                <td>
                    <button class = "btn btn-danger" onclick="eliminar('{{i.id}}')"><i class="fa-solid fa-trash"></i></button>
                    <button onclick="actualizar('{{i.id}}')"><i class = "fa-solid fa-edit"></i></button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    var tabla
    $(document).ready( function () {
        tabla = new DataTable("#productsTable", {
            responsive: true
        })
    } );

    document.querySelector('#formulario-persona').addEventListener('submit', (e)=>{
        e.preventDefault()

        // Crear Persona
        fetch('{% url "crear_persona" %}',{
            method: "POST",
            body: new FormData(document.querySelector('#formulario-persona')),
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success"){
                console.log(data)
                
                // Agregar la fila usando la API de DataTables

                let fila = tabla.row.add([
                    data.id,
                    data.nombre,
                    data.edad,
                    `<button class = 'btn btn-danger'  onclick="eliminar(${data.id})">
                        <i class = 'fa-solid fa-trash'></i>
                    </button>`
                ]).draw(false);

                fila.node().id = data.id
            }
        })
    })
	
    let eliminar = (id) =>{
    
        let url = "{% url 'eliminar_persona' 0 %}"
        url = url.replace("0", id)
        fetch(url,{
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": "{{csrf_token}}"
            },
            method: "DELETE"
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === "success") {
                tabla.rows(`#${data.id}`).remove().draw()
            }
        })
        .catch(error => console.log(`ocurrio un error ${error}`))
    }

    let actualizar = (id) =>{
        let url = "{% url 'editar_persona' 0 %}"
        url = url.replace("0", id)

        fetch(url, {
            headers:{
                "X-CSRFToken": "{{csrf_token}}",
                "X-Requested-With": "XMLHttpRequest"
            },
            body: new FormData(document.querySelector('#formulario-persona')),
            method: "POST"
        })
        .then(response => response.json())
        .then(data => {
            if (data.status == "success"){

                tabla.row(`#${id}`).edit({
                    nombre: data.nombre,
                    edad: data.edad
                });
            }
        })
    }
</script>
{% endblock %}