{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link href="{% static 'bootstrap-5.3.7-dist\css\bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'DataTables\datatables.css' %}" rel="stylesheet">
 
    
    <!-- scripts -->
    <script src="{% static 'JQuery\jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'DataTables\datatables.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.7-dist\js\bootstrap.bundle.min.js' %}"></script>
</head>