{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box Jeans Urban - Tienda de Jeans y Sudaderas</title>

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="{% static 'DataTable/jquery.dataTables.min.css'%}">
    <link rel="stylesheet" href="{% static 'DataTable/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'DataTable/buttons.dataTables.min.css' %}">

    <!-- SweetAlert 2 CSS -->
    <link rel="stylesheet" href="{% static 'SweetAlert2/sweetalert2.min.css' %}">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.7-dist/mods/modal.css' %}">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome-free-6.7.2-web/css/all.css' %}">

    <!-- fuente Poppins-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Estilos de la pagina principal -->
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/body.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/footer.css' %}"> 
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/animaciones.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/detalle_producto.css' %}">
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/carrito_compras.css'%}">
    <link rel="stylesheet" href="{% static 'styles/pagina_principal/tienda.css' %}">
    
    <!-- Estilo del menu lateral -->
    <link rel="stylesheet" href="{% static 'styles/barra_lateral/style.css' %}">

    <!-- Estilos del login -->
     <link rel="stylesheet" href="{% static 'styles/login/login.css' %}">
    
    <!-- JQuery-->
    <script src="{% static 'JQuery/jquery-3.7.1.min.js' %}"></script>

    <!-- Scripts DataTables -->
    <script src="{% static 'DataTable/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'DataTable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'DataTable/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.7-dist/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Scripts SweetAlert 2 -->
    <script src="{% static 'SweetAlert2/sweetalert2.all.min.js' %}"></script>

    <!--Script de funciones globales -->
    <script src="{% static 'scripts/pagina_principal/funciones_globales.js' %}" defer></script>

    <!-- Scripts de Interactividad -->
    <script src="{% static 'scripts/pagina_principal/interactividad.js' %}"></script>

    <!-- Script del navbar -->
    <script src="{% static 'scripts/pagina_principal/navbar.js' %}"></script>
</head>

{% block body %}{% endblock %}

</html>