{% extends "gestion/listar_base.html" %}
{% block seccion %}{{seccion_plural}}{% endblock %}
{% block columnas %}
<th>Id</th>
<th>Nombre</th>
<th>Estado</th>
<th>Opciones</th>
{% endblock %}

{% block filas %}
    {% for i in object_list %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.estado}}</td>
            <td>
                <button class='bj-btn bj-btn-info bj-btn-sm' id="btn-editar" data-bs-toggle="modal" data-bs-target="#formModal" title="Editar">
                    <i class="fas fa-edit"></i>
                </button>
                <button class='bj-btn bj-btn-danger bj-btn-sm' id="btn-eliminar" title="Eliminar">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
