{% extends "gestion/listar_base.html" %}
{% block seccion %}{{seccion}}{% endblock %}
{% block columnas %}
<th>Id</th>
<th>Nombre</th>
<th>Descripción</th>
<th>Cantidad</th>
<th>Precio Unitario</th>
<th>Categoria</th>
<th>Talla</th>
<th>Marca</th>
<th>Color</th>
<th>Fecha de Creación</th>
<th>Fecha de Actualización</th>
<th>Opciones</th>
{% endblock %}

{% block filas %}
    {% for i in object_list %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.descripcion}}</td>
            <td>{{i.cantidad}}</td>
            <td>{{i.precio_unitario}}</td>
            <td>{{i.categoria}}</td>
            <td>{{i.talla}}</td>
            <td>{{i.marca}}</td>
            <td>{{i.color}}</td>
            <td>{{i.fecha_creacion}}</td>
            <td>{{i.fecha_actualizacion}}</td>
            <td></td>
        </tr>
    {% endfor %}
{% endblock %}
